{{ extends "global/Page.html" }}
{{ block title }}Decision{{ endblock }}
{{ block content }}
<script>
    function displayTextFuncionario() {
  var text = document.getElementById("textFieldFuncionario");
  text.style.display = "block";
}
    function displayTextCiudadano() {
  var text = document.getElementById("textFieldCiudadano");
  text.style.display = "block";
}
</script>
<style>
    /* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  border-right:1px solid black;
}

/* Control the right side */
.right {
  right: 0;
 
  border-left:1px solid black;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
</style>
<div class="split left">
    <p>
        Tu rol es {{ player.role }}.
    </p>

{{ if player.role == "Funcionario" }}
    <p>
        Hay 1000 puntos para poder dar a los otros ciudadanos.
    </p>
    <p>
        Si presionas el siguiente botón se convierten en 3000 puntos.
    </p>
    <button type="button" onclick="displayTextFuncionario()"> Botón</button>
<br><br>
    <div id="textFieldFuncionario" style="display: none;">
        
    <p>
        Distribuye ahora los 3000 puntos:
    </p>
    <table class="table">
    <tr>
        <th>Ciudadano 1: </th>
        <td id="ciudadano-1">(none)</td>
        <td>
            <input type="number" id="offer1">
            <button type="button" onclick="sendOffer1()" id="btn-offer">Distribuir</button>
        </td>
    </tr>
    <tr>
        <th>Ciudadano 2: </th>
        <td id="ciudadano-2">(none)</td>
        <td>
            <input type="number" id="offer2">
            <button type="button" onclick="sendOffer2()" id="btn-offer">Distribuir</button>
        </td>
    </tr>
    <tr>
        <th>Ciudadano 3: </th>
        <td id="ciudadano-3">(none)</td>
        <td>
            <input type="number" id="offer3">
            <button type="button" onclick="sendOffer3()" id="btn-offer">Distribuir</button>
        </td>
    </tr>
    </table>
    </div>

{{ else }}

    <p>
        Tienes 500 para distribuir entre tu cuenta y un proyecto común.
    </p>
    <p>
        Enviar <input type="number" id="offer4"> puntos.
    </p>
    <p>           
         <button type="button"  onclick="sendOffer4()" id="btn-offer" onclick="displayTextCiudadano()">Enviar</button>
    </p>
    <div id="textFieldFuncionario" style="display: none;">
        <p>
        Todos los ciudadanos contribuyeron --- puntos, los que se convirtieron en --- puntos. 
        </p>
        {{ if player.role == 'Ciudadano 1'}}
        <p>
        La autoridad te distribuyó a ti <td id="ciudadano-1">(none)</td> puntos. 
        </p>
        <p>
            Tu pago de la ronda es de --- puntos. 
        </p>

        {{ elif player.role == 'Ciudadano 2'}}
        <p>
        La autoridad te distribuyó a ti <td id="ciudadano-2">(none)</td> puntos. 
        </p>
        <p>
            Tu pago de la ronda es de --- puntos. 
        </p>
        
        {{ elif player.role == 'Ciudadano 3'}}
        <p>
        La autoridad te distribuyó a ti <td id="ciudadano-3">(none)</td> puntos. 
        </p>
        <p>
            Tu pago de la ronda es de --- puntos. 
        </p>
        
        {{ endif }}

    </div>
{{ endif }}


</div>

<div class="split right">

{% for config in player.chat_configs %}
    <h4>{{ config.label }}</h4>
    {% chat nickname=player.chat_nickname channel=config.channel %}
{% endfor %}

</div>

    <script>
            let offer1 = document.getElementById('offer1');
            let offer2 = document.getElementById('offer2');
            let offer3 = document.getElementById('offer3');
            let msgCiudadano1 = document.getElementById('ciudadano-1');
            let msgCiudadano2 = document.getElementById('ciudadano-2');
            let msgCiudadano3 = document.getElementById('ciudadano-3');

    function sendOffer1() {
        liveSend({'type': 'propose', 'monto1': offer1.value})

    }
    function sendOffer2() {
        liveSend({'type': 'propose', 'monto2': offer2.value})

    }
    function sendOffer3() {
        liveSend({'type': 'propose', 'monto3': offer3.value})

    }
    function sendOffer4() {
        liveSend({'type': 'propose', 'monto4': offer4.value})

    }
    function liveRecv(data) {
        if ('proposals' in data) {
            for (let [id_in_group, proposal] of data.proposals) {

                if (id_in_group === js_vars.my_id) {
                    msgCiudadano1.innerHTML = proposal
                    msgCiudadano2.innerHTML = proposal
                    msgCiudadano3.innerHTML = proposal

                } else {
                    msgOtherProposal.innerHTML = cu(proposal);
                    otherProposal = proposal;
                }
            }
        }
        if ('finished' in data) {
            document.getElementById('form').submit();
        }
    }

    window.addEventListener('DOMContentLoaded', (event) => {
        liveSend({});
    });


    </script>

    {{ next_button }}

{{ endblock }}
