{{ extends "global/Page.html" }}

{{ block content }}
<script>
    function displayTextFuncionario() {
  var text = document.getElementById("textFieldFuncionario");
  text.style.display = "block";
}
    function displayTextCiudadano() {
  var text = document.getElementById("textFieldCiudadano");
  text.style.display = "block";
}
</script>
<style>

table {
width: 100%;
margin: 0 auto;
}
td {

vertical-align: top;
}
    /* Split the screen in half */
.split {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: auto;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  border-right:1px solid black;
}

/* Control the right side */
.right {
  right: 0;
  height: 100vh;
  width: 60vw;
  border-left:1px solid black;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
</style>
<div class="split left">
    <div class="centered">
        <div id="decide" style="display: none">
        <p>
            Tu rol es {{ player.role }}.
        </p>
        
        {{ if player.role == 'Funcionario' }}
            <p>
                Hay 1000 puntos para dar a los otros ciudadanos.
            </p>
            <p>
                Si presionas el siguiente botón se convierten en 3000 puntos.
            </p>
            <button type="button" onclick="displayTextFuncionario()"> Botón</button>
            <br><br>
            <div id="textFieldFuncionario" style="display: none;">
                
                <p>
                    Distribuye ahora los 3000 puntos:
                </p>
                <table class="table">
                    <tr>
                        <th>Ciudadano 1: </th>
                        <td>
                            <input type="number" id="monto_fun1">
                            <button type="button" onclick="sendOfferFun1()" id="btn-offer">Distribuir</button>
                        </td>
                    </tr>
                    <tr>
                        <th>Ciudadano 2: </th>
                        <td>
                            <input type="number" id="monto_fun2">
                            <button type="button" onclick="sendOfferFun2()" id="btn-offer">Distribuir</button>
                        </td>
                    </tr>
                    <tr>
                        <th>Ciudadano 3: </th>
                        <td>
                            <input type="number" id="monto_fun3">
                            <button type="button" onclick="sendOfferFun3()" id="btn-offer">Distribuir</button>
                        </td>
                    </tr>
                </table>
            </div>
        

        {{ else }}
            <p>
                Tienes 500 para distribuir entre tu cuenta y un proyecto común.
            </p>
            <p>
                Puntos a dar:
            </p>
            <input type="number" id="my_offer">
            <button type="button" onclick="sendOffer()" id="btn-offer">Enviar puntos</button>

        {{ endif }}
    </div>

    <div id="wait" style="display: none">
        <p>
            Esperando a que los otros ciudadanos respondan...
        </p>
        <progress></progress>
    </div>    

    <div id="results" style="display: none;">
        <p>
            Tu rol es {{ player.role }}.
        </p>
        {{ if player.role == 'Funcionario' }}
        Todos los ciudadanos contribuyeron <span id="sum_montos"></span> puntos.
        <p>
            Tu pago de la ronda es de --- puntos. 
        </p>
        {{ else }}
        <p>
        Contribuiste <span id="my-proposal"></span>.
        </p>
        <p>
        Todos los ciudadanos contribuyeron <span id="sum_montos"></span> puntos, los que se convirtieron en --- puntos. 
        </p>
        <p>
        La autoridad te distribuyó a ti {{ if player.role == 'Ciudadano 1' }}<span id="monto1"></span>{{ elif player.role == 'Ciudadano 2' }}<span id="monto2"></span>{{ elif player.role == 'Ciudadano 3' }}<span id="monto3"></span>{{ endif }} puntos. 
        </p>
        <p>
        Tu pago de la ronda es de --- puntos. 
        </p>
        {{ endif }}
    </div>
    <br><br>

</div>

</div>

<div class="split right">

        <table>
        <tr>
        {% for config in player.chat_configs %}
        <th>
            <h6>{{ config.label }}</h6>
            {% chat nickname=player.chat_nickname channel=config.channel %}
        </th>
        {% endfor %}
        </tr>
        </table>

        <br><br>

        <table>
            <tr>
                <th>
                    Interacción con {{ role1 }}
                </th>
                <th>
                    Interacción con {{ role2 }}
                </th>
                <th>
                    Interacción con {{ role3 }}
                </th>
            </tr>
            <tr>
                <th>
                    <button type="button" onclick="sendOfferOther1()" id="btn_offer1">Enviar puntos&#160&#160</button><input type="number" id="offer_other1">
                </th>
                <th>
                    <button type="button" onclick="sendOfferOther2()" id="btn_offer2">Enviar puntos&#160&#160</button><input type="number" id="offer_other2">
                </th>
                <th>
                    <button type="button" onclick="sendOfferOther3()" id="btn_offer3">Enviar puntos&#160&#160</button><input type="number" id="offer_other3">
                </th>
            </tr>
            <tr>
                <th>
                    <button type="button" onclick="sendRequestOther1()" id="btn_request1">Solicitar puntos&#160</button><input type="number" id="request_other1">
                </th>
                <th>
                    <button type="button" onclick="sendRequestOther2()" id="btn_request2">Solicitar puntos&#160</button><input type="number" id="request_other2">
                </th>
                <th>
                    <button type="button" onclick="sendRequestOther3()" id="btn_request3">Solicitar puntos&#160</button><input type="number" id="request_other3">
                </th>
            </tr>    
        </table>


            <br><br>
        <h6>Balance de transacciones</h6>
        <table>
            <table class="table table-striped">
                <tbody id="balance-body">
            
                </tbody>
            </table>
        </table>


</div>


<style>
    .otree-chat{
        width: 250px
    }
    .otree-chat__messages {
        height: 200px;
        width: 230px
    }
    .otree-chat__input {
        width: 230px
    }

</style>

    <script>
    let waitDiv = document.getElementById('wait');
    let decideDiv = document.getElementById('decide');
    let resultsDiv = document.getElementById('results');
    let my_offer= document.getElementById('my_offer');
    let msgMyProposal = document.getElementById('my-proposal');
    let monto_fun1 = document.getElementById('monto_fun1');
    let monto_fun2 = document.getElementById('monto_fun2');
    let monto_fun3 = document.getElementById('monto_fun3');
    let msgMontoFun1 = document.getElementById('monto1');
    let msgMontoFun2 = document.getElementById('monto2');
    let msgMontoFun3 = document.getElementById('monto3');
    let sum_montos = 0;
    let msgSumMontos = document.getElementById('sum_montos');
    let btn_offer1 = document.getElementById('btn_offer1');
    let btn_offer2 = document.getElementById('btn_offer2');
    let btn_offer3 = document.getElementById('btn_offer3');
    let btn_request1 = document.getElementById('btn_request1');
    let btn_request2 = document.getElementById('btn_request2');
    let btn_request3 = document.getElementById('btn_request3');
    let rolePlayer = {{ player.role | json }}

    let myBalance = document.getElementById('balance-body');
    let cartTotal = document.getElementById('cart-total');

    var interval;

    var interval;

function countdown() {
  clearInterval(interval);
  interval = setInterval( function() {
      var timer = $('.js-timeout').html();
      timer = timer.split(':');
      var minutes = timer[0];
      var seconds = timer[1];
      seconds -= 1;
      if (minutes < 0) return;
      else if (seconds < 0 && minutes != 0) {
          minutes -= 1;
          seconds = 59;
      }
      else if (seconds < 10 && length.seconds != 2) seconds = '0' + seconds;

      $('.js-timeout').html(minutes + ':' + seconds);

      if (minutes == 0 && seconds == 0) clearInterval(interval);
  }, 1000);
}

$('#js-startTimer').click(function () {
  $('.js-timeout').text("2:00");
  countdown();
});

$('#js-resetTimer').click(function () {
  $('.js-timeout').text("2:00");
  clearInterval(interval);
});


    if (rolePlayer === 'Funcionario'){
        monto_fun1.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            sendOfferFun1();
        }
        })
        monto_fun2.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            sendOfferFun2();
        }
        })
        monto_fun3.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            sendOfferFun3();
        }
        })
    } else {
        my_offer.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            sendOffer();
        }
    });
    }
    function sendOffer() {
        liveSend({ 'type':'bien_publico', 'monto': my_offer.value });
    }
    function sendOfferFun1() {
        liveSend({ 'type':'bien_publico', 'monto_fun1': monto_fun1.value });
    }
    function sendOfferFun2() {
        liveSend({ 'type':'bien_publico', 'monto_fun2': monto_fun2.value });
    }
    function sendOfferFun3() {
        liveSend({ 'type':'bien_publico', 'monto_fun3': monto_fun3.value });
    }
    function sendOfferOther1() {
        liveSend({ 'type':'offer', 'monto_offer1': offer_other1.value, });
        btn_offer1.disabled = true;
    }
    function sendOfferOther2() {
        liveSend({ 'type':'offer', 'monto_offer2': offer_other2.value });
        btn_offer2.disabled = true;
    }
    function sendOfferOther3() {
        liveSend({ 'type':'offer', 'monto_offer3': offer_other3.value });
        btn_offer3.disabled = true;
    }
    function sendRequestOther1() {
        liveSend({ 'type':'request', 'monto_request1': request_other1.value });
        btn_request1.disabled = true;
    }
    function sendRequestOther2() {
        liveSend({ 'type':'request', 'monto_request2': request_other2.value });
        btn_request2.disabled = true;
    }
    function sendRequestOther3() {
        liveSend({ 'type':'request', 'monto_request3': request_other3.value });
        btn_request3.disabled = true;
    }

    function show(ele) {
        for (let div of [waitDiv, decideDiv, resultsDiv]) {
            div.style.display = (div === ele) ? 'block' : 'none';
        }
    }

    function cu(monto) {
        return `${monto} puntos`;
    }

    function liveRecv(data) {
        console.log('received a message!', data);
        
        if ('proposals' in data){
            sum_montos = 0
            for (let [id_in_group, proposal] of data.proposals){
                if (id_in_group === js_vars.my_id){

                msgMyProposal.innerHTML = cu(proposal)
                console.log(proposal)
                } else {
                    sum_montos = sum_montos + proposal
                }
                }
            }
        msgSumMontos.innerHTML = sum_montos
        
        let is_waiting = data.should_wait;
        let is_results = data.show_results;
        if (is_waiting) {
            show(waitDiv)
            } else if (is_results) {
            show(resultsDiv)
            } else {
                show(decideDiv)
            }

        let html = '';
        if ('montos_privados' in data){
            for (let [role, monto, type] of data.montos_privados) {
                if (type === 'offer'){
                html += `
            <tr>
                <td>${'-'}</td>
                <td>${role}</td>
                <td>${'<-'}</td>
                <td>${cu(monto)}</td>
            </tr>`;
            } else if (type === 'request') {
                html += `
            <tr>
                <td>${'+'}</td>
                <td>${role}</td>
                <td>${'->'}</td>
                <td>${cu(monto)}</td>
            </tr>`;
            }
            myBalance.innerHTML = html;
            //cartTotal.innerText = cu(data.total_price);
        }}
        if ('montos_funcionario' in data){
            if (rolePlayer === 'Ciudadano 1'){
                msgMontoFun1.innerHTML = data.montos_funcionario[0]
        } else if (rolePlayer === 'Ciudadano 2'){
            msgMontoFun2.innerHTML = data.montos_funcionario[1]
        } else if (rolePlayer ==='Ciudadano 3'){
            msgMontoFun3.innerHTML = data.montos_funcionario[2]
        }
        }
    }
        
    window.addEventListener('DOMContentLoaded', (event) => {
        liveSend({'type':'load'});
    });


    </script>

    

{{ endblock }}
